<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container-header">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container-fluid">
                    <a class="navbar-brand " href="#"><img src="image/logo.png" alt="" class="w-25 h-25"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex " role="search" style="width: 450px; ">
                            <input class="form-control w-100"
                                style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 0px; border-bottom-right-radius: 0px; border: 1.5px solid #fcb000;"
                                type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success"
                                style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 0;border-bottom-left-radius: 0; border: 1.5px solid #fcb000;"
                                type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><i class="fa-solid fa-cart-shopping"
                                    style="font-size: 24px;"></i></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn dropdown-toggle border-0" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-user-tie" style="font-size: 24px;"></i>
                                        </button>
                                        <ul class="dropdown-menu end-0" style="left:auto">
                                            <li><a class="dropdown-item active" href="#">Thông Tin</a></li>
                                            <li><a class="dropdown-item" href="#">Lịch Sử</a></li>
                                            <li><a class="dropdown-item" href="#">Trang Quản Trị</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                                        </ul>
                                        <img src="image/viet-nam.png" alt="" style="width: 20px;" class="ml-3">
                                        <span>VI</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </nav>
            <ul class="nav nav-underline justify-content-center h-90 p-sm-2"
                style="background-color: #fcb000; font-size: 20px; font-weight: 600;">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#" style="color: #212529;">Trang Chủ</a>
                </li>
                <li class="nav-item dropdown pt-2 ">
                    <p class="  dropdown-toggle" data-bs-toggle="dropdown" style=" font-size: 20px; font-weight: 600;"
                        aria-expanded="false">
                        Sản Phẩm
                    </p>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pt-2 ">
                    <p class="  dropdown-toggle" data-bs-toggle="dropdown"
                        style=" font-size: 20px; font-weight: 600;margin-left: 20px;" aria-expanded="false">
                        Dịch Vụ
                    </p>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Liên Hệ</a>
                </li>

            </ul>
        </div>
    </header>
    <main style="padding: 0 7.5%;">
        <div class="container-fluid" style="padding: 20px 0 30px 0;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                </ol>
            </nav>
        </div>
          <div class="content-gioi-thieu">
                <p class="fw-semibold" style=" font-size: x-large;">Giới thiệu chung về thương hiệu thú cưng PetHouse</p>
                <p class="fw-semibold">1. Thương Hiệu</p>
                <p class="fw-normal ">- PetHouse là thương hiệu thuộc 
                    lĩnh vực nhân giống, kinh doanh thú cưng và các loại phụ kiện vật nuôi tại nước ta hiện nay.   
                </p>
                <p class="fw-normal">- Với slogan “My Dog is family, my dog is not a pet” mang ý nghĩa rằng: “Chó là thành 
                    viên trong gia đình, không chỉ là thú cưng”. PetHouse cam kết luôn đặt
                    sức khỏe và cuộc sống của các bé chó mèo lên trên hết trong toàn bộ hoạt động của thương hiệu.</p>
                <p class="fw-normal">- PetHouse là một trong những đơn vị đầu tiên tại Việt Nam xây dựng thành công hệ sinh 
                    thái khép kín gồm trang trại chó mèo cảnh, cửa hàng thức ăn và phụ kiện thú cưng, phòng khám 
                    thú y, spa chó mèo,… Với chuỗi các cơ sở chất lượng cao đặt tại Hà Nội, TP. HCM, Đà Lạt.</p>
                <div class="dia-chi" style="text-align: center; padding: 15px;">
                    <img src="image/diachi2.jpg" alt="" width="400px" > 
                </div>
                
                <p class="fw-semibold">2. Hoạt Động</p>
                <p class="fw-semibold" style="padding: 10px;">Khởi điểm của thương hiệu thú cưng PetHouse</p>
                <p class="fw-normal">- Thương hiệu PetHouse bắt đầu hoạt 
                    động vào năm 2017, khởi điểm từ trang trại chó giống PetHouse Kennel 
                    trực thuộc Hiệp hội những người nuôi chó giống tại Việt Nam VKA.
                </p>
                <div class="dia-chi" style="text-align: center; padding: 15px;">
                    <img src="image/giayphep.jpg" alt="" width="600px" > 
                    <p class="fw-normal">Giấy chứng nhận trại chó PetHouse Farm Đà Lạt – 
                        thành viên chính thức của Hiệp hội chó giống Việt Nam Vka</p>
                </div>
                <p class="fw-normal">- PetHouse Kennel là trang trại chuyên nhập khẩu và nhân giống 
                    các dòng chó cảnh cao cấp như Akita Inu, Shiba Inu, chó Alaska, Husky, Samoyed, Bull Pháp, Border Collie, 
                    cho đến các giống chó nhỏ xinh như Poodle, Phốc sóc, Corgi….</p>

                <p class="fw-semibold" style="padding: 10px;">Hoạt động từ năm 2018 đến nay</p>

                 <p class="fw-normal">- Từ đầu năm 2018, PetHouse dần mở rộng 
                    sang lĩnh vực nhân giống và nhập khẩu các giống mèo cảnh như mèo Anh lông ngắn, 
                    mèo Anh lông dài, mèo Ba Tư, mèo tai cụp Scottish Fold,… Chúng tôi đã xây dựng thành công 
                    chuỗi trang trại mèo cảnh PetHouse Cattery với hàng trăm bé mèo luôn có sẵn tại hệ thống.
                </p>

                 <p class="fw-normal">- Mèo Toyger độc lạ cả thế giới chỉ có khoảng 400 bé. PetHouse may mắn là một trong những đơn vị đầu tiên tại Việt Nam đưa giống mèo hiếm này về Việt Nam.
                <p class="fw-normal">- Tham quan Trại mèo cảnh PetHouse Cattery với hàng trăm bé mèo Anh,
                     Scottish, Munchkin, Bengal cực đẹp.
                </p>
                <p class="fw-normal">- Mèo Scottish Fold tai cụp cái giống nhập khẩu liên ban
                     Nga của Trại mèo PetHouse Cattery Đà Lạt.
                </p>
                <p class="fw-normal">- Bên cạnh đó, PetHouse cũng thường xuyên tham gia các hoạt 
                    động cứu hộ, hỗ trợ chó mèo hoang dã tại Việt Nam.
                    Video PetHouse giải cứu bé mèo rừng quý hiếm nhóm 2b tuyệt đẹp bị bán trái phép.
                </p>
                - Đến thời điểm hiện tại, thương hiệu PetHouse đã đạt được một số thành tựu nhất định và dần khẳng định uy tín của mình trên thị trường thú cưng tại Việt Nam. 
                Với hệ thống các chi nhánh, điểm giao dịch, mạng lưới vận chuyển thú cưng rộng khắp cả nước.


                <p class="fw-semibold" style="padding: 10px;">Phát triển hệ thống mạng xã hội và các kênh truyền thông</p>

                <p class="fw-normal">- Bên cạnh việc mở rộng quy mô và lĩnh vực hoạt động với mục tiêu trở thành doanh nghiệp nhân giống, 
                    kinh doanh thú cưng hàng đầu tại Việt Nam. Chúng tôi cũng không ngừng phát triển hệ thống các kênh truyền thông, website, 
                    fanpage Facebook, Instagram, Youtube… 
                    để khách hàng có thể dễ dàng tiếp cận và chọn mua cho mình những bạn thú cưng thuần chủng, chất lượng cao.</p>
                <p class="fw-normal">- Đồng thời, PetHouse cũng thường xuyên chia sẻ những thông tin 
                    vô cùng hữu ích về các giống chó, giống mèo trên website và kênh youtube của thương hiệu. 
                    Để lan tỏa kiến thức, kinh nghiệm nuôi, chăm sóc… về các giống chó mèo tới cộng đồng.</p>

                <p class="fw-semibold" style="padding: 10px;">Các dịch vụ chăm sóc thú cưng tại PetHouse</p>
                
                <p class="fw-normal">Spa & Grooming</p>
                <p class="fw-normal">- Nếu bạn bận rộn không có thời gian tắm và cắt tỉa lông cho bé cún, 
                    mèo cưng của mình. Hoặc cảm thấy việc chăm sóc lông, da và cắt, tỉa hoặc cạo lông cho các em ấy quá khó khăn.
                     Bạn chỉ cần đưa người bạn nhỏ bốn chân của mình đến cơ sở gần nhất của PetHouse. Đội ngũ nhân sự giàu chuyên môn, 
                     nhiều kinh nghiệm trong lĩnh vực spa, 
                    tắm tỉa thú cưng của PetHouse sẽ giúp bạn chăm sóc bé thú cưng từ A – Z.</p>
                <p class="fw-normal">- Hãy mang bé cưng của mình ghé qua cơ sở gần nhất của PetHouse để trải nghiệm 
                    các dịch vụ spa chất lượng, chuyên nghiệp, chu đáo của PetHouse, bạn nhé !</p>
                <p class="fw-normal">Cửa hàng phụ kiện, thức ăn chó mèo</p>
                <p class="fw-normal">- Luôn có sẵn hàng trăm mặt hàng để khách hàng thoải mái lựa chọn: Thức ăn hạt, Pate, súp thưởng, 
                    đồ chơi, cát chất lượng cao,… với đủ các mẫu mã và nhà sản xuất khác nhau.
                     Tất cả những gì bạn cần cho sự phát triển, trưởng thành tốt nhất của bé đều có sẵn tại PetHouse.</p>
                <p class="fw-semibold" style="padding: 10px;">Cam kết của PetHouse</p>
                <p class="fw-normal">- Hàng năm, PetHouse cung cấp cho hàng ngàn gia đình tại Việt Nam những thú cưng mà họ 
                    chưa từng gặp mặt. Đó là một trách nhiệm to lớn đòi hỏi chúng tôi phải thực hiện rất nghiêm túc và tâm huyết.</p>
                <div class="dia-chi" style="text-align: center; padding: 15px;">
                    <img src="image/chovanguoi.jpeg" alt="" width="600px" > 
                </div>    
                <p class="fw-normal">- Vì vậy, trong nhiều năm qua. PetHouse đã sàng lọc, lựa chọn và phát triển mối quan hệ 
                    hợp tác với các nhà nhân giống chuyên nghiệp, trung thực ở cả trong và ngoài nước (Nga, Ucraina, Ba Lan, Pháp…).
                     Để từ đó có thể chọn lọc và đem những thú cưng có chất lượng, phẩm chất tốt nhất đến với khách hàng.</p>
                <p class="fw-semibold" style="padding: 10px;">Khách hàng</p>
                <p class="fw-normal">- Trong những năm qua, chúng tôi đem đến cho cộng đồng yêu thú cưng hàng ngàn chú chó mèo
                    thuần chủng, khỏe mạnh và xinh xắn. Hàng ngàn khách hàng đã tin tưởng mua thú cưng
                     và sử dụng các dịch vụ spa, chăm sóc chó mèo tại hệ thống các cơ sởôn c của PetHouse.</p>
                <p class="fw-normal">- Nhiều ca sĩ, nghệ sĩ nổi tiếng như ca sĩ Thanh Lam, bé Gia Khiêm – quán quân 
                    giọng hát Việt nhí, và cả các Youtuber triệu sub như Gao Bạc TV,… cũng luhọn PetHouse để đặt niềm tin.</p>
                <div class="dia-chi" style="text-align: center; padding: 15px;">
                    <img src="image/khachhang.jpg" alt="" width="600px" > 
                </div> 
                <p class="fw-semibold" style="padding: 10px;">Chính sách bảo hành sức khỏe, hỗ trợ, 
                    ưu đãi trọn đời dành cho khách hàng mua thú cưng tại PetHouse</p>
                <p class="fw-normal">
                    - Tặng bộ đồ dùng giá trị 1.000.000 đồng.
                    <br>
                    - Bảo hành sức khỏe dài hạn. Gói bảo hành lên đến 365 ngày (liên hệ để biết thêm chi tiết).
                    <br>
                    - Giảm 5% giá phụ kiện trọn đời tại hệ thống PetHouse.
                    <br>
                    - Giảm 10% phí dịch vụ Spa Grooming & Pet Hotel tại Tphcm, Hà Nội.
                    <br>
                    - Bác sĩ thú y của Phòng khám PetHouse Clinic thăm khám tận nhà.
                    <br>
                    - Hỗ trợ mua trả góp qua Visa Card.
                    <br>
                    - Giảm 5% khi mua bé tiếp theo.
                    <br>
                    - Miễn phí giao hàng toàn quốc.
                </p>
                <p class="fw-semibold" style="padding: 10px;">Thông tin địa chỉ liên hệ:</p>
                <p class="fw-normal">Website: https://petHouse.com/</p>
          </div>
    </main>


    <footer class="mt-5" style="background-color: #fcb850; padding: 10px 0;">
        <div class="container  mt-5" style="margin-top: 50px;">
            <div class="row">
                <div class="col-4 ">
                    <div>
                        <h5>Hỗ Trợ Khách Hàng </h5>
                        <span class="mt-4">
                            Tổng Đài CSKH: 0999999009(24/24)
                        </span>
                        <p style="font-size: 12px;">Hỗ trợ quý khách một cách tốt nhất</p>
                    </div>
                    <div style="margin: 20px 0;">
                        <h5>Chi Nhánh 1</h5>
                        <span>
                            Thanh Xuân, Hà Nội
                        </span>
                    </div>
                    <div>
                        <h5>Chi Nhánh 2</h5>
                        <span>
                            Quận 12,TP.HCM
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <h5>Góc Hỗ Trợ</h5>
                    <div class="mt-4">
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Chính Sách Mua Hàng</h5>
                    <div class="d-block mt-4">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Mạng Xã Hội</h5>
                    <div class="container text-center">
                        <div class="row mt-4">
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-twitter"></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-facebook"></i></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-instagram"></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-youtube"></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-solid fa-wifi"></i></a>
                          </div>
                          
                        </div>
                      </div>
                      <h5 class="mt-5">Chứng Nhận</h5>
                      <div class="mt-3">
                        <img src="image/chungnhan.png" alt="">
                      </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="javascript/index.js"></script>

</html>