<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>điều khoản</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container-header">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container-fluid">
                    <a class="navbar-brand " href="#"><img src="image/logo.png" alt="" class="w-25 h-25"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex " role="search" style="width: 450px; ">
                            <input class="form-control w-100"
                                style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 0px; border-bottom-right-radius: 0px; border: 1.5px solid #fcb000;"
                                type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success"
                                style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 0;border-bottom-left-radius: 0; border: 1.5px solid #fcb000;"
                                type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><i class="fa-solid fa-cart-shopping"
                                    style="font-size: 24px;"></i></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn dropdown-toggle border-0" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-user-tie" style="font-size: 24px;"></i>
                                        </button>
                                        <ul class="dropdown-menu end-0" style="left:auto">
                                            <li><a class="dropdown-item active" href="#">Thông Tin</a></li>
                                            <li><a class="dropdown-item" href="#">Lịch Sử</a></li>
                                            <li><a class="dropdown-item" href="#">Trang Quản Trị</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                                        </ul>
                                        <img src="image/viet-nam.png" alt="" style="width: 20px;" class="ml-3">
                                        <span>VI</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </nav>
            <ul class="nav nav-underline justify-content-center h-90 p-sm-2"
                style="background-color: #fcb000; font-size: 20px; font-weight: 600;">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#" style="color: #212529;">Trang Chủ</a>
                </li>
                <li class="nav-item dropdown pt-2 ">
                    <p class="  dropdown-toggle" data-bs-toggle="dropdown" style=" font-size: 20px; font-weight: 600;"
                        aria-expanded="false">
                        Sản Phẩm
                    </p>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pt-2 ">
                    <p class="  dropdown-toggle" data-bs-toggle="dropdown"
                        style=" font-size: 20px; font-weight: 600;margin-left: 20px;" aria-expanded="false">
                        Dịch Vụ
                    </p>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Liên Hệ</a>
                </li>

            </ul>
        </div>
    </header>

    <section>
        <nav aria-label="breadcrumb" class="section-p2" style="padding: 20px 0 30px 7.5%;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="text-decoration: none; color: #212529;"><a href="#">Trang Chủ</a>
                </li>
                <li class="breadcrumb-item" style="text-decoration: none; color: #212529;">Chính Sách Bảo mật</li>
            </ol>
        </nav>

        <div class="container" style="font-size: 18px;">
            <h1 class="text-start mb-5">Chính Sách Bảo Mật</h1>
            <div class>

                <strong>Chính sách bảo mật thông tin</strong> <br> <br>

                <strong>Mục đích và phạm vi thu thập thông tin</strong> <br> <br>

                Hiện nay, vấn đề bảo mật thông tin đã trở thành vấn đề nóng trên tất cả các diễn đàn, điều này không chỉ
                gây khó khăn cho các tổ chức, cá nhân tham gia truy cập và giao dịch mà còn gây nên những phiền toái
                vượt ra ngoài tầm kiểm soát của hệ thống.

                Chính sách bảo mật và chia sẻ thông tin khách hàng của PetHouse như một lời cam kết với mong muốn nâng
                cao chất lượng dịch vụ, bảo đảm an toàn thông tin của các cá nhân, tổ chức khi tham gia truy cập hoặc
                giao dịch trực tiếp trên website petHouse.net Chúng tôi hiểu bảo vệ và sử dụng hợp lí thông tin của bạn
                cũng chính là bảo vệ lòng tin và sự yêu mến của bạn dành cho chúng tôi.<br> <br>

                <strong>Phạm vi sử dụng thông tin</strong> <br> <br>

                PetHouse có quyền sử dụng hợp pháp các thông tin cá nhân của khách hàng trong các trường hợp để đảm bảo
                quyền lợi của quý khách như:

                Thông báo các thông tin về dịch vụ quảng cáo, các chương trình khuyến mãi… đến khách hàng theo nhu cầu
                và thói quen của quý khách khi truy cập <br>
                Liên lạc và hỗ trợ khách hàng trong những trường hợp đặc biệt <br>
                Phát hiện và ngăn chặn ngay lập tức các hành vi can thiệp hoặc phá hoại tài khoản của khách hàng <br>
                Chúng tôi có thể chia sẻ tên và địa chỉ của quý khách cho dịch vụ chuyển phát nhanh hoặc nhà cung cấp
                của chúng tôi để có thể giao hàng cho quý khách. <br>
                Ngoài ra, chúng tôi sẽ sử dụng thông tin quý khách cung cấp để hỗ trợ quản lý tài khoản khách hàng; xác
                nhận và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán trực tuyến của quý khách;
                <br>
                <br>

                <strong>Thời gian lưu trữ thông tin</strong> <br> <br>

                PetHouse sẽ lưu trữ các thông tin cá nhân do khách hàng cung cấp trên hệ thống nội bộ của chúng tôi trong
                quá trình cung cấp dịch vụ cho khách hàng hoặc cho đến khi hoàn thành mục đích thu thập thông tin hoặc
                khi khách hàng có yêu cầu hủy các thông tin đã cung cấp.<br> <br>

                <strong>Cam kết bảo mật thông tin cá nhân khách hàng </strong> <br> <br>

                Tất cả các thông tin khách hàng cung cấp và nội dung giao dịch đều được chúng tôi lưu giữ bảo mật tuyệt
                đối trên hệ thống. Chúng tôi cam đoan sẽ không bán hoặc chia sẻ dẫn đến làm lộ thông tin cá nhân của
                bạn, không vì những mục đích thương mại mà vi phạm cam kết của chúng tôi ghi trong chính sách bảo mật
                này <br>
                Khi thu thập dữ liệu, PetHouse thực hiện lưu giữ và bảo mật thông tin khách hàng tại hệ thống máy chủ và
                các thông tin khách hàng này được bảo đảm an toàn bằng các hệ thống bảo vệ tốt nhất hiện nay, cùng các
                biện pháp kiểm soát truy cập và mã hóa dữ liệu. <br>
                Khách hàng không được phép sử dụng bất kì chương trình hay công cụ nào nhằm mục đích khai thác, thay đổi
                dữ liệu bất hợp pháp trên hệ thống PetHouse. Mọi hành vi cố tình xâm phạm, tùy theo tính chất sự việc,
                chúng tôi có quyền khởi tố với các cơ quan có thẩm quyền theo quy định pháp luật hiện hành. <br>
                Khách hàng nên tự bảo vệ thông tin bảo mật của mình bằng cách không chia sẻ các thông tin cá nhân cũng
                như các thông tin giao dịch với bên thứ ba, cẩn thận trong việc đăng nhập/đăng xuất tài khoản để loại
                trừ những sự cố rò rỉ thông tin không đáng có.<br> <br>

                <strong>Thay đổi chính sách bảo mật</strong> <br> <br>

                PetHouse có quyền thay đổi và chỉnh sửa Quy định Bảo mật vào bất kỳ lúc nào. Bất cứ thay đổi nào về chính
                sách này đều được đăng trên trang web của chúng tôi.<br> <br>
            </div>
        </div>

    </section>
    <footer style="background-color: #fcb850; padding: 10px 0;">
        <div class="container  mt-5" style="margin-top: 50px;">
            <div class="row">
                <div class="col-4 ">
                    <div>
                        <h5>Hỗ Trợ Khách Hàng </h5>
                        <span class="mt-4">
                            Tổng Đài CSKH: 0999999009(24/24)
                        </span>
                        <p style="font-size: 12px;">Hỗ trợ quý khách một cách tốt nhất</p>
                    </div>
                    <div style="margin: 20px 0;">
                        <h5>Chi Nhánh 1</h5>
                        <span>
                            Thanh Xuân, Hà Nội
                        </span>
                    </div>
                    <div>
                        <h5>Chi Nhánh 2</h5>
                        <span>
                            Quận 12,TP.HCM
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <h5>Góc Hỗ Trợ</h5>
                    <div class="mt-4">
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Chính Sách Mua Hàng</h5>
                    <div class="d-block mt-4">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Mạng Xã Hội</h5>
                    <div class="container text-center">
                        <div class="row mt-4">
                            <div class="col">
                                <a href="#" style="text-decoration: none; color: #212529;"><i
                                        class="fa-brands fa-twitter"></i></a>
                            </div>

                            <div class="col">
                                <a href="#" style="text-decoration: none; color: #212529;"><i
                                        class="fa-brands fa-facebook"></i></i></a>
                            </div>

                            <div class="col">
                                <a href="#" style="text-decoration: none; color: #212529;"><i
                                        class="fa-brands fa-instagram"></i></a>
                            </div>

                            <div class="col">
                                <a href="#" style="text-decoration: none; color: #212529;"><i
                                        class="fa-brands fa-youtube"></i></a>
                            </div>

                            <div class="col">
                                <a href="#" style="text-decoration: none; color: #212529;"><i
                                        class="fa-solid fa-wifi"></i></a>
                            </div>

                        </div>
                    </div>
                    <h5 class="mt-5">Chứng Nhận</h5>
                    <div class="mt-3">
                        <img src="image/chungnhan.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="javascript/index.js"></script>

</html>