<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container-header">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container-fluid">
                    <a class="navbar-brand " href="#"><img src="image/logo.png" alt="" class="w-25 h-25"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex " role="search" style="width: 450px; ">
                            <input class="form-control w-100"
                                style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 0px; border-bottom-right-radius: 0px; border: 1.5px solid #fcb000;"
                                type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success"
                                style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 0;border-bottom-left-radius: 0; border: 1.5px solid #fcb000;"
                                type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><i class="fa-solid fa-cart-shopping"
                                    style="font-size: 24px;"></i></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn dropdown-toggle border-0" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fa-solid fa-user-tie" style="font-size: 24px;"></i>
                                        </button>
                                        <ul class="dropdown-menu end-0" style="left:auto">
                                            <li><a class="dropdown-item active" href="#">Thông Tin</a></li>
                                            <li><a class="dropdown-item" href="#">Lịch Sử</a></li>
                                            <li><a class="dropdown-item" href="#">Trang Quản Trị</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                                        </ul>
                                        <img src="image/viet-nam.png" alt="" style="width: 20px;" class="ml-3">
                                        <span>VI</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </nav>
            <ul class="nav nav-underline justify-content-center h-90 p-sm-2"
                style="background-color: #fcb000; font-size: 20px; font-weight: 600;">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#" style="color: #212529;">Trang Chủ</a>
                </li>
                <li class="nav-item dropdown pt-2 ">
                    <p class="  dropdown-toggle" data-bs-toggle="dropdown" style=" font-size: 20px; font-weight: 600;"
                        aria-expanded="false">
                        Sản Phẩm
                    </p>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pt-2 ">
                    <p class="  dropdown-toggle" data-bs-toggle="dropdown"
                        style=" font-size: 20px; font-weight: 600;margin-left: 20px;" aria-expanded="false">
                        Dịch Vụ
                    </p>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #212529;">Liên Hệ</a>
                </li>

            </ul>
        </div>
    </header>
    <main style="padding: 0 8%;">
        <nav style="--bs-breadcrumb-divider: '>'; padding: 15px 0;" aria-label="breadcrumb" pad>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Trang Chủ</a></li>
                <li class="breadcrumb-item active fw-semibold" aria-current="page" style="color: black;">Liên Hệ </li>
            </ol>
        </nav>
        <p class="fw-semibold">Địa Điểm Chính: </p>
        <p class="fw-normal ">- 730 Lê Đức Thọ, phường 15, Gò Vấp, TP.HCM.</p>
        <div class="map" style="text-align: center; margin: 20px 0 50px 0;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5305666319746!2d106.6699587!3d10.847191500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529b18f203eb7%3A0x74bddcfcdd03c806!2zNzMyIMSQLiBMw6ogxJDhu6ljIFRo4buNLCBQaMaw4budbmcgMTUsIEfDsiBW4bqlcCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1699112501328!5m2!1svi!2s"
                width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h5>Liên Hệ Ngay</h5>
                    <div class="lien-he" style="text-align: left; padding: 20px;">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email </label>
                            <input type="email" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Số Điện Thoại</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Lời Nhắn </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning text-start" style="padding: 8px 30px; color: #ffffff; font-weight: 600;">Xác Nhận</button>
                </div>
                <div class="col">
                    <h5>PET HOUSE</h5>
                    <div class="lh-diachi" style="text-align: left; padding: 20px;">
                        <div class="nguon" style="display: flex;">
                            <p class="fw-normal ">Website: </p>
                            <p class="fw-semibold"> https://pethouse.vn/</p>
                        </div>
                        <div class="nguon" style="display: flex;">
                            <p class="fw-normal ">Facebook: </p>
                            <p class="fw-semibold"> https://www.facebook.com/PetHouse</p>
                        </div>
                        <div class="nguon" style="display: flex;">
                            <p class="fw-normal ">Youtube: </p>
                            <p class="fw-semibold"> https://www.youtube.com/c/PetHouse/</p>
                        </div>
                        <div class="nguon" style="display: flex;">
                            <p class="fw-normal ">Website: </p>
                            <p class="fw-semibold"> https://www.instagram.com/pethouse/</p>
                        </div>

                        <p class="fw-normal ">- 606/121 đường 3 tháng 2, phường 14,
                            quận 10, thành phố Hồ Chí Minh. (Hẻm Xe Hơi lớn đỗ cửa).</p>
                        <p class="fw-normal">- 171 Quang Trung, Phường 10, quận Gò Vấp, thành phố Hồ Chí Minh</p>
                        <p class="fw-normal">- Số 95, đường Nghi Tàm, phường Yên Phụ, quận Tây Hồ, Tp Hà Nội.</p>
                        <p class="fw-normal">- Dogily Pet Farm Đà Lạt: Km 2, đường Quảng Thắng,
                            xã Xuân Thọ, Tp. Đà Lạt, tỉnh Lâm Đồng.</p>

                        <p class="fw-semibold">Điện Thoại: 0123456789</p>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <div class="form-outline">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <button id="search-button" type="button" class="btn btn-warning">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="lh-diachi" style="text-align: left; padding: 20px;">
                        <p class="fw-semibold">CHI NHÁNH </p>
                        <p class="fw-semibold">- Dogily Petshop Quang Trung: 171 Quang Trung,
                            Phường 10, quận Gò Vấp, thành phố Hồ Chí Minh
                        </p>
                        <p class="fw-semibold">- Dogily Petshop Cộng Hòa: 391 đường Cộng Hòa,
                            phường 13, quận Tân Bình, Tphcm.</p>
                        <p class="fw-semibold">-
                            Dogily Petshop Thảo Điền: 5/17 đường 64, phường Thảo Điền, quận 2, thành phố Thủ Đức, Tphcm.
                        </p>
                        <p class="fw-semibold">
                            - Facebook PetHouse <br>
                            - Hotline: 0965.086.079 <br>
                            - Youtube PetHouse <br>
                            - Website: https://pethouse.vn <br>
                        </p>
                    </div>
                </div>
            </div>
    </main>
    <footer class="mt-5" style="background-color: #fcb850; padding: 10px 0;">
        <div class="container  mt-5" style="margin-top: 50px;">
            <div class="row">
                <div class="col-4 ">
                    <div>
                        <h5>Hỗ Trợ Khách Hàng </h5>
                        <span class="mt-4">
                            Tổng Đài CSKH: 0999999009(24/24)
                        </span>
                        <p style="font-size: 12px;">Hỗ trợ quý khách một cách tốt nhất</p>
                    </div>
                    <div style="margin: 20px 0;">
                        <h5>Chi Nhánh 1</h5>
                        <span>
                            Thanh Xuân, Hà Nội
                        </span>
                    </div>
                    <div>
                        <h5>Chi Nhánh 2</h5>
                        <span>
                            Quận 12,TP.HCM
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <h5>Góc Hỗ Trợ</h5>
                    <div class="mt-4">
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                        <a href="#" style="text-decoration: none; color: #212529;">Giới Thiệu Về PetHouse</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Chính Sách Mua Hàng</h5>
                    <div class="d-block mt-4">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                    <div class="d-block">
                        <a href="#" style="text-decoration: none; color: #212529;">Chính Sách Bảo Mật</a>
                    </div>
                </div>
                <div class="col-3">
                    <h5>Mạng Xã Hội</h5>
                    <div class="container text-center">
                        <div class="row mt-4">
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-twitter"></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-facebook"></i></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-instagram"></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-brands fa-youtube"></i></a>
                          </div>
                          
                          <div class="col">
                            <a href="#" style="text-decoration: none; color: #212529;"><i class="fa-solid fa-wifi"></i></a>
                          </div>
                          
                        </div>
                      </div>
                      <h5 class="mt-5">Chứng Nhận</h5>
                      <div class="mt-3">
                        <img src="image/chungnhan.png" alt="">
                      </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="javascript/index.js"></script>
</html>