*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
del{
    color: red;
    margin:0 10px 0 5px;
}
a{
    color: black;
    font-weight: 600;
    transition: 0.3;
    text-decoration: none;
}
a:hover{
    color: #FCC850;
}
td {
    vertical-align: middle; 
}
/* form */

h1{
    text-align: center;
}