*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    color: #112A46;
}
del{
    color: red;
    margin:0 10px 0 5px;
}

a{  
    color: #212529;
    font-weight: 600;
    transition: 0.3;
    text-decoration: none;
}
a:hover{
    color: #393d42;
}
.nav-item a:hover{
    color: #393d42;

}
td {
    vertical-align: middle; 
}
/* form */

h1{
    text-align: center;
}
.title{
    font-family: 'Poppins', sans-serif;

}
link[rel="icon"] {
    width: 32px; 
    height: 32px; 
    filter: brightness(150%);
}
text{
    display: none;
}
@media (max-width: 768px) {
    .img-logo img{
        width: 30px;
    }
}