<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js">
    <title>Chỉnh Sửa Sản Phẩm</title>
</head>

<body>
    <section id="header">
        <a href="admin.html"><img src="image/logopethouse.png" class="logo" alt=""></a>
        <span style="font-size: 16px;">Pet House </span>

        <div>
            <ul id="navbar-contents">
                <li class="icons"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="icons"><a href="#"><i class="fa-solid fa-bell"></i></a></li>
                <li class="icons"><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
        </div>
        <div class="vertical-line"></div>
        <div id="user">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle end-0" style="outline: none; border: none;"
                    data-bs-toggle="dropdown">
                    <span>Phạm Hữu Ngọc Hà</span>
                    <img src="image/avt.jpg" alt="">

                </button>
                <ul class="dropdown-menu" style="color: #212529;">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- <img src="image/avt.jpg" alt="">
            <div class="name">
                <span>Phạm Hữu Ngọc Hà</span>
                <p>admin</p>
            </div> -->
        </div>
    </section>
    <section id="category">

        <div id="menu">
            <div class="menuno1 collapse collapse-horizontal show" id="openMenu">
                <strong class=" d-block p-3 text-white" style="margin: 20px 30px;">Trang Quản Lý</strong>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex"
                        style="background-color: #48525a;width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-gauge" style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Dashboard
                        </a>
                    </div>

                </div>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style=" width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-user-pen"
                            style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Quản Lý Tài Khoản
                        </a>
                    </div>

                </div>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style="width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-arrow-down-1-9"
                            style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Quản Lý Sản Phẩm
                        </a>
                    </div>

                </div>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style="width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-layer-group"
                            style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Quản Lý Danh Mục
                        </a>
                    </div>

                </div>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style="width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-blog" style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Quản Lý Bài Viết
                        </a>
                    </div>

                </div>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style="width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-comment" style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Quản Lý Bình Luận
                        </a>
                    </div>

                </div>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style="width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-file-pen"
                            style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Quản Lý Đơn Hàng
                        </a>
                    </div>

                </div>
                <Br></Br>
                <div class=" " style="background-color: #2e363f;">
                    <div class="total-menu d-flex" style="width: 300px; padding: 15px 0 15px 50px;">
                        <i class="fa-solid fa-gear"
                            style="font-size: 20px; margin-right: 20px;margin-top: 2px;"></i>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Cài Đặt
                        </a>
                    </div>
                </div>
            </div>



        </div>
    <div class="form-p5">
      <div class="main-user">
        <div class="name-user">
          <div>
            <h2>SỬA SẢN PHẨM</h2>
          </div>
        </div>
        <div class="form-add">
          <h4>Cập Nhật Thông Tin</h4>
          <form action="" method="post" enctype="multipart/form-data">
            <div class="table_flex">
              <div class="left">
                <input type="text" name="TenSP" placeholder="Tên Sản Phẩm" /><br /><br />
                <div class="price">
                  <input type="text" name="GiaSP" placeholder="Giá Sản Phẩm" />
                  <input type="text" name="GiaKM" placeholder="Giá Khuyến Mãi" />
                </div><br />
                <input type="text" name="SoLuong" placeholder="Số Lượng" /><br /><br />
                <textarea placeholder="Mô Tả" name="" id="" cols="20" rows="10"></textarea>
                <select>
                  <option>Trạng Thái</option>
                  <option>Hiện</option>
                  <option>Ẩn</option>
                </select><br />
                <input style="background-color: #fcc850; color: white" type="submit" value="Cập Nhật Sản Phẩm"
                  name="submit" />
              </div>
              <div class="updateImg">
                <input type="file" name="AnhSP" style="height: 200px;" />
              </div>
            </div>


          </form>
        </div>
      </div>


      <div class="footer">
        <div class="mac">
          <h4>HaphamEditor — TryHard by HTML CSS © 2021</h4>
        </div>
        <div class="mac2">
          <h4>Company PetHouse - CEO HaPham</h4>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</html>